body{
	background: url(1.jpg) no-repeat;
	font-family:Comic Sans MS;
	font-size:14px;
    background-attachment: fixed;
    background-size: cover;
    padding:0px; 
    margin:0px; 
    background-color:#fff;;
}
p{
    font-size: 18px;
}
#headerarea{
    background:rgba(0,0,0,0.8);    
}
.mynavbar{
    margin:0 auto;
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    color: #fff;
    border:none;
}
.mynavbar img{
    margin:-16px 0 0 50px;
    width: 80px;
    height: 50px;
}
.mytabs{
    margin-left: 300px;
    font-size: 18px;
}
.mytabs a{
    color:#fff !important;
    margin-right: 1px;
    border-radius: 2px;
}
.mytabs a:hover{
    background:#2ecc71 !important;
}
#slidersection{
	color:#fff;      
    background:rgba(11,166,209,0.5); 
}
#aboutme{
    padding:100px 0;
    background: rgba(255,100,0,0.3);
}
.howdy{
    padding: 80px 50px;
    margin:0px auto;    
    background:rgba(0,0,0,0.7);    
    border: 2px solid #e74c3c;
    border-radius: 5px;
    color: #fff;
}
.howdy div{
    width:500px;
    margin: 0 auto;
    padding-top: 30px;
}
.hello{
    margin:0px auto;
}
.hello img{
	width:200px;
    border-radius:50%;
    border:5px solid #fff;
}
#services{
    height:px;
    background: rgba(255,255,255,0.9);
    padding: 150px 0;
}
.singleservice{
    margin:50px 0px;
}
.singleservice img{
    background: #fff;
    width:150px;
    border:2px solid black;
    border-radius:50%;
}
.singleservice h2{
    color:#27ae60;
}
.singleservice h4{
    color: #2980b9;
}
.singleservice p{
    padding: 15px 0;
}
.singleservice a{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding:10px 20px;
    border-radius:5px;
}
#contactme{
    padding:100px;
    background: rgba(0,0,100,0.7);
    color:#ecf0f1;
}
.contactusheader{
	margin-bottom:100px;
}
.contactusbody a{
    text-decoration: none;
    color: #fff;
}
.social{
    overflow: hidden;
    padding: 15px 0;
}
.social a{
    background: #2ecc71;
    border-radius: 50%;
    width:60px;
    height:60px;
    float: left;
    margin-right: 5px;
}
.social a i{
    color: #fff;
    font-size: 35px;
    margin-top: 12px;
    margin-left: 15px;
}
.message .btn{
	font-size:22px;
	background:#c0392b;
	padding:10px 50px;
	color:#fff;	
}
.phoneemail{
    font-size: 15px;
}
 /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }